:root{
  --primary-color: #E43858;
  --secundary-color: #1B4BD2;
  --background-color: #F2F5F7;
  --text-color: #033523;
}



body {
  /* height: calc(100vh - 59px - 69px); */
  /* margin: 0 auto; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--background-color); */
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}